.swatch1 body {
	border-left-color: #28292B;
	border-right-color: #28292B;
	background-color: #28292B;
}

	.swatch1 body:before, .swatch1 body:after {
	    background-color: #28292B;
	}

.swatch1 .wrapper {
	background-color: #6BBFB1;
}

.swatch1 #theThing {
	color: #28292B;
}

.swatch1 #more {
	color: #FFFFFF;
	background-color: #28292B;
}
	.swatch1 #more:hover {
		background-color: #222;
	}

	.swatch1 #more:active {
		background-color: #181818;	
	}

.swatch1 footer,
.swatch1 footer a {
	color: #6BBFB1;
}